<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>

  </div>
  <div class="footer-copyright">
  <div class="footer-font footer-align">  OPINIAO LIVRE </div>
  </div>
  <div class="footer-copyright font-card">
    O importante é ser reeleito <i class="fas fa-money-bills text-success"></i>
  </div>
</div>
