<div class="edit">
  <div class="container w-50">
    <div class="rounded m-4">
      <div class="row justify-content-center form-edit-offer">
        <div class="col-12">
          <div class="d-flex justify-content-between mt-4">
            <h1 class="">EDIT OFFERS</h1>
            <%= link_to 'See all offers', offers_path, class: 'btn btn-secondary mb-5' %>
          </div>
          <%= render 'form', offer: @offer %>
        </div>
      </div>
    </div>
  </div>
</div>
