<h1 class="text-center">New Offer</h1>
<div class="container">
  <div class="">
    <div class="row new-form">
      <div class="col-1">
      </div>
      <div class="col-4" >
        <%= render 'form', offer: @offer %>
        <%= link_to 'See all offers', offers_path, class: 'btn btn-secondary mb-5' %>
      </div>
    </div>
  </div>

</div>
