<div class="new">
  <div class="container w-50">
    <div class="rounded m-4">
      <div class="row justify-content-center form-new-offer">
        <div class="col-12">
          <div class="d-flex justify-content-between mt-4">
            <h1 class="">Nova Imparcialidade</h1>
            <%= link_to 'Ver todas imparcialidades', offers_path, class: 'btn btn-dark mb-5 btn-rounded-index' %>
          </div>
          <%= render 'form', offer: @offer %>
        </div>
      </div>
    </div>
  </div>
</div>
