.buying_card {
  overflow: hidden;
  width: 1120px;
  margin: 0 auto;
  background: #343a40;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 50px;
  align-items: center;
  border-radius: 67px;
  color: #ffffff;
}
