.form-new-offer {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 15px;
  width: 100%;
  padding: 40px;
}

.form-login {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 15px;
  width: 100%;
  padding: 40px;
}

.form-edit-offer {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 15px;
  width: 100%;
  padding: 40px;
}

.form-signup {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 15px;
  width: 100%;
  padding: 40px;
}

.form-forgot-password {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 15px;
  width: 100%;
  padding: 40px;
}

.form-edit-user {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
  width: 100%;
  padding: 40px;
}
